/* reset default settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url(../images/Shutterstock_halloween.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000000;
    color: white;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #00000080;
}

/* Logo */

.logo {
    margin-left: 20px;
    color: #d39b5b;
    font-family: 'Creepster', sans-serif;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 8px;
    font-weight: 500;
    font-size: 200%;
}

.logo img {
    height: 80px;
}

/* Navbar */

#menu {
    line-height: 90%;
}

#menu ul {
    list-style-type: none;
    color: #d39b5b;
}

#menu li {
    padding: 0 15px;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 2px;
}

#menu a {
    text-decoration: none;
    color: #d39b5b;
    text-shadow: #000 1px 1px 1px, #000 1px 1px 1px, #000 1px 1px 1px, #000 1px 1px 1px, #000 1px 1px 1px, #000 1px 1px 1px, #000 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
}

#menu a:hover {
    font-size: 110%;
    font-weight: 700;
}

/* Code for neon text taken from css-tricks.com and edited slightly to fit the project's needs */
#menu .active {
    font-size: 120%;
    font-weight: 700;
    color: #f8eee4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
        0 0 20px #f2e2d0,
        0 0 40px #d39b5b,
        0 0 50px #d39b5b,
        0 0 60px #d39b5b,
        0 0 70px #d39b5b,
        0 0 80px #d39b5b;
}

.navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}

.navbar-toggler {
    padding: 0 40px;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Flashlight Overlay */
/* :root {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
}

:root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY),
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, .5) 80%,
            rgba(0, 0, 0, .95) 100%)
} */

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Adjust the 'object-fit' property as needed */
    z-index: 9999;
    /* Ensure the videos overlay on top of other content */
    background-color: rgba(0, 0, 0, 1);
    /* Add a semi-transparent background */
    display: none;

}

.video.playing {
    display: block;

}

/* Styling of the central container for game content */

.opaque {
    margin: 1rem auto;
    background-color: #00000070;
    color: #aab4bd;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    padding: 4rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 900px;
}

.opaque h2 {
    font-family: 'Creepster', Sans-serif;
    letter-spacing: 2px;
    font-size: 340%
}

.opaque h3 {
    font-family: 'Creepster', Sans-serif;
    letter-spacing: 2px;
    color: #d39b5b;
    font-size: 250%;
}

/* Styling the username and rules area */

#username-area input {
    padding: 0.2rem;
    margin: 0.3rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#username-area label {
    color: whitesmoke;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin: 0.3rem;
    font-size: 1.6rem;
}

#usernameError {
    display: none;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(246, 0, 0);
}

#usernameError.visible {
    display: block;
}

#instructions {
    font-size: 1.rem;
    font-weight: 500;
    list-style-type: disc;
    text-align: left;
    padding-left: 2rem;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

#instructions li {
    font-size: 130%;
    list-style: none;
}

/* Styling for the game level choice area */

audio {
    margin: 10px 0;
}

audio::-webkit-media-controls-panel {
    background-color: #809aac;
}

#levelchoice-area li:hover {
    font-size: 160%;
    font-weight: 700;
    color: #f8eee4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
        0 0 20px #f2e2d0,
        0 0 40px #d39b5b,
        0 0 50px #d39b5b,
        0 0 60px #d39b5b,
        0 0 70px #d39b5b,
        0 0 80px #d39b5b;
    cursor: pointer;
}

#quiz-area li:hover {
    font-size: 160%;
    font-weight: 700;
    color: #f8eee4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
        0 0 20px #f2e2d0,
        0 0 40px #d39b5b,
        0 0 50px #d39b5b,
        0 0 60px #d39b5b,
        0 0 70px #d39b5b,
        0 0 80px #d39b5b;
    cursor: pointer;
}

#levelchoice-area {
    font-size: 1.2rem;
    display: none;
}

#levelchoice-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
}

/* Styling for central quiz area */

#game-area {
    display: none;
}

#quiz-area {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

#quiz-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#question-counter {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

#score-area {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.correct {
    color: rgb(7, 136, 7);
}

.wrong {
    color: rgb(246, 0, 0);
}

#correct-counter {
    margin-right: 2rem;
    margin-left: 2rem;
}

#wrong-counter {
    margin-left: 2rem;
}

/* Styling of the Creators page */

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_list ul {
    margin-bottom: 10px;
}

.social_list li {
    font-size: 120%;
    line-height: 180%;
}

.social_list a {
    padding: 5px;
    color: #557596;
}

.social_list a:hover {
    color: #87a0ba;
}

.creators {
    display: flex;
    flex-direction: column;
}

.intro {
    margin: 1rem 1rem 0 1rem;
    background-color: #00000095;
    color: #ffffff;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 1100px;
}

.intro h2 {
    color: #d39b5b;
    font-family: 'Creepster', sans-serif;
    font-size: 200%;
    letter-spacing: 4px;
}

.intro h3 {
    font-size: 120%;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 20px;
}

.intro hr {
    border-top: 2px solid white;
}


/* Styling of the final end of game page */
.btn_spook {
    padding: 0.1rem 2rem;
    margin: 0.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Creepster', sans-serif;
    color: whitesmoke;
}

.btn_spook:hover {
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #222222;
    max-width: 350px;
}

#play-again-same-user {
    padding: 0.35rem 2rem;
    margin: 0.5rem;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Creepster', sans-serif;
    color: whitesmoke;
}

/* Styling of the footer */
footer {
    padding: 20px;
    width: 100%;
    background-color: #00000080;
    font-size: 130%;
    color: #d39b5b;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.int-link {
    text-decoration: none;
    color: inherit;
}

.int-link:hover {
    color: #ffffff;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Setting responsiveness of game at different screen width */

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    #menu li {
        padding: 0 10px;
        font-size: 170%;
        font-weight: 400;
        letter-spacing: 1px;
    }

    footer {
        font-size: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {

    .logo {
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: 160%;
    }

    #menu li {
        padding: 0 5px;
        letter-spacing: 0px;
        font-size: 130%;
    }

    .opaque {
        padding: 2rem;
        width: 700px;
    }

    .opaque h2 {
        letter-spacing: 2px;
        font-size: 320%
    }

    .opaque h3 {
        letter-spacing: 2px;
        font-size: 230%;
    }

    #username-area label {
        font-size: 1.4rem;
    }

    #instructions li {
        font-size: 120%;
    }

    .intro {
        margin: 1rem 1rem 0 1rem;
        padding: 1rem 3rem;
        width: 90%;
    }

    footer {
        font-size: 110%;
    }

}

@media screen and (min-width: 450px) and (max-width: 768px) {

    .logo {
        margin-left: 20px;
        letter-spacing: 1px;
        font-size: 170%;
    }

    .logo img {
        height: 50px;
        width: 50px;
    }

    .navbar-toggler {
        padding: 0 20px;
    }

    #menu li {
        padding: 0 15px;
        font-size: 140%;
        display: block;
        text-align: right;
    }

    .navbar-collapse {
        margin-right: 10px;
    }

    .opaque {
        padding: 1rem;
        width: 600px;
    }

    .opaque h2 {
        font-size: 300%
    }

    .opaque h3 {
        letter-spacing: 2px;
        font-size: 220%;
    }

    #username-area label {
        font-size: 1.4rem;
    }

    #instructions li {
        font-size: 110%;
    }

    .intro {
        margin: 1rem 1rem 0 1rem;
        padding: 1rem 2rem;
        width: 90%;
    }

    .intro h2 {
        font-size: 160%;
        letter-spacing: 2px;
    }
    
    .intro h3 {
        font-size: 110%;
        line-height: 140%;
        margin-bottom: 10px;
    }

    footer {
        font-size: 110%;
    }
}

@media screen and (min-width: 346px) and (max-width: 450px) {

    .logo {
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: 125%;
    }

    .logo img {
        height: 35px;
        width: 35px;
    }

    .navbar-toggler {
        padding: 0 20px;
    }

    #menu li {
        padding: 0 15px;
        font-size: 120%;
        display: block;
        text-align: right;
    }

    .navbar-collapse {
        margin-right: 10px;
    }


    .opaque {
        padding: 0.8rem;
        width: 600px;
    }

    .opaque h2 {
        font-size: 210%
    }

    .opaque h3 {
        letter-spacing: 1px;
        font-size: 180%;
    }

    #username-area label {
        font-size: 1.4rem;
    }

    #instructions li {
        font-size: 110%;
    }

    #username-area input {
        width: 80%;
    }

    img {
        width: 80%;
    }

    .intro {
        margin: 1rem 1rem 0 1rem;
        padding: 1rem 1rem;
        width: 90%;
    }

    .intro h2 {
        font-size: 150%;
        letter-spacing: 2px;
    }
    
    .intro h3 {
        font-size: 110%;
        line-height: 140%;
        margin-bottom: 10px;
    }

    .social_list li {
        font-size: 110%;
        line-height: 180%;
    }

    footer {
        font-size: 100%;
    }
}

@media screen and (max-width: 345px) {

    .logo {
        letter-spacing: 1px;
        font-size: 120%;
    }

    .logo img {
        display: none;
    }

    #menu li {
        padding: 0 15px;
        font-size: 100%;
    }

    .opaque {
        padding: 0.8rem;
        width: 600px;
    }

    .opaque h2 {
        font-size: 210%
    }

    .opaque h3 {
        letter-spacing: 1px;
        font-size: 180%;
    }

    #username-area label {
        font-size: 1.4rem;
    }

    #instructions li {
        font-size: 110%;
    }

    .intro {
        margin: 1rem 1rem 0 1rem;
        padding: 1rem 5rem;
        width: 90%;
    }

    footer {
        font-size: 100%;
    }
}